/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
nav ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: auto;
    margin-top: auto;
    margin-bottom: 0;
    list-style-type: none;
  }
  
nav ul li {
    margin: 0.5em;
  }
  
nav ul li a {
    text-decoration: none;
     color: black;
  }

nav a {
    font-size: .875em;
    font-family: 'Rubik', sans-serif;
}

nav img {
    width: auto;
}

nav {
    width: 100%;
    margin: .625em;
    display: flex;
    box-sizing: border-box;
}
    
h1, h2, h3, h4, h5 {
    font-size: 1.125em;
    margin-bottom: .9375em;
    font-family: 'Rubik', sans-serif;
}

.roads {
    margin-top: 2%;
    margin-bottom: 2%; 
}

p {
    line-height: 1.4;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 1.25em;  
}

.middle-content {
    margin-bottom: 1.25em;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box-1 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-2 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: gold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-3 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-4 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: coral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-5 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-6 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: forestgreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-7 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: darkorchid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-8 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: hotpink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-9 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: indigo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-10 {
    width: 12.5%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: dodgerblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 1.25em;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 2%;
    font-size: 0.875em;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media (max-width: 500px) {

nav ul {
    font-size: 1.125em;
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

nav {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

nav img {
    width: 20%;
    padding-bottom: 15px;
    align-content: center;
}

.roads {
    width: 100%;
}

.top-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.middle-content h2 {
    text-align: center;
}

.middle-content .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-content .boxes .box-1 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-2 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: gold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-3 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-4 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: coral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-5 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-6 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: forestgreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-7 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: darkorchid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-8 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: hotpink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-9 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: indigo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-10 {
    width: 25%;
    height: 100px;
    margin: 1.25em 2.5%;
    background-color: dodgerblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

footer nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 20px 2%;
        font-size: 1.125em;
}

    /* nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

nav {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

nav img {
    width: 30%;
    align-content: center;
}

.roads {
    flex: 0 1 500px;
}

.top-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    align-items: center;
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 2%;
    font-size: 14px;
} */
}